$p-button: 10px 20px;
$c-primary-text: ivory;
$c-body: rgb(12, 12, 12);
$p-text: 10px 20px;
$c-primary: rgb(36, 106, 115);
$c-primary-hover: rgb(18, 51, 59);
$c-secondary: rgb(243, 223, 193);
$c-third: rgb(153, 154, 155);
$p-size: 10px;
